*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: #393e46;
    opacity: 5px;
    
}
.main{
    background-image: url(image2.png);
    background-position: center;
    height: 70vh;
    background-size: cover;
    position: relative;

 
}
.main .box{
 background-color: black;
 height: 70vh;
 width: 100%;
 opacity: 0.2;
 position: absolute;
 top: 0;
 color: white;
 }
 .hero{
    height: 100%;
    display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     color: white;
     position: relative;
     padding: 0 ;
     gap: 23px;
 }
 .hero> :nth-child(1){
    font-size: 48px;
    font-weight: 900;
  
 }
 .hero>:nth-child(2){
    font-size: 24px;
    font-weight: 400;
 }
 .hero> :nth-child(3){
    font-size: 20px;
    font-weight: 300;
 }
 

 nav{
    display: flex;
    width: 135vh;
    justify-content: space-between;
    margin: auto;
    height: 100px;
 }
 nav img{
    width: 123px;
    position: relative ;
    z-index: 10;
    margin-top: 18px;
 }
 nav button{
    position: relative ;
    z-index: 10;
    margin-top: 18px;
 }

 .main-bar{
   color: white;
   background-color: transparent;
   font-size: 18px;
   border-radius: 5px;
   
}
#bar1{
   height: 32px;
   width: 132px;
   margin-right: 5px;
   border: 0.3px solid white;
  
}
#bar2{
   height: 32px;
   width: 75px;
   background-color: red;
   color: white;
   
}
.text-bar{
   height: 56px;
   background-color: transparent;
   color: white;
   opacity: 0.5px;
   width: 360px;
   padding-left: 13px;
   border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 12px;
    font-size: 16px;
    border: 0.3px solid white;
    font-weight: 400px;

}
.hero-input{
   display: inline;

}
.text-button{
   background-color: red;
   height: 65px;
   color: white;
   width: 215px;
   font-size: 24px;
   border-radius: 8px;
   opacity: 0.85px;
   margin-top: 5px;
  

}
/* main-2 */
.secondpg{
   height: 70vh;
 width: 100%;
 background-color: black;
 margin-top: 6px;
 color: white;
 display: flex;
 justify-content: space-evenly;
 align-items: center;

}
.secondcontent{
   display:flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
  height: 110px;
  width: 580px;

}
#first{
   font-size: 50px;
   font-weight: 900;
   align-self: flex-start;
   margin-bottom: 15px;
}
#second{
   font-size: 24px;
   font-weight: 400;
}
.img-sec{
   position: relative;
}
.img-sec  video{
       position: absolute;
       top: 60px;
       right: 0;
       width: 35vw;
       }
.img-sec img{
   width: 40vw;
   position: relative;
   z-index: 1;
}
#img-sec-1{
   height: 165px;
   width: 600px ;
}


/* frq box */

.frq{
   height: 780px;
   background-color: black;
   color: white;
   margin-top: 6px;
   text-align: center;
   padding-top: 40px;
}
.frq-text{
   font-size: 48px;
   font-weight: 900;
   margin-bottom: 18px;
}
.frqbox{
  height: 25px;
  width: 70vw;
  background-color: rgba(128, 128, 128, 0.482);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 24px;
  font-size: 24px;
  font-weight: 400;
}
.separate{
   margin-bottom: 8px;
}

.frq-input{
   font-size: 20px;
   font-weight: 400;
   padding-top: 40px;
   margin-bottom: 12px;

}
#gap{
   margin-bottom: 20px;
}